.rotator {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  text-align: center;

  & > * {
    display: inline-block;
  }
}

.image {
  transition: transform 200ms cubic-bezier(0.57, 0.06, 0.55, 0.95);
}
